In [ ]:
import numpy as np
import pandas as pd
import sqlalchemy
import psycopg2
from sqlalchemy import create_engine
import io
import getpass
import os

### Create db engine

In [ ]:
password =getpass.getpass("Enter your password: ")
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/db_name')

### Create function to read data from file and write it into database table

In [ ]:
def import_sql (path,file,table_name, truncate=False,table_operation='append'):
    """
    Specify file path for file including file name and extension and table name in database.
    
    Truncate table if you want to remove all of your data from the table.
    
    Table operation means you can either append data or drop the table and recreate table. 'append' or 'replace'
    
    Data should be either csv or excel format. Extar formats can be added 
    
    """
    if file.endswith('.csv'):
        df=pd.read_csv(path+file, on_bad_lines='warn')  #You can add paramters if you want
    else:
        df=pd.read_excel(path+file)                     #You can add paramters if you want
    df.head(0).to_sql(f'{table_name}', engine, if_exists=table_operation,index=False)
    conn = engine.raw_connection()
    cur = conn.cursor()
    if truncate:
        cur.execute(f"""TRUNCATE TABLE {table_name}""")
        conn.commit()
    output = io.StringIO()
    df.to_csv(output, sep='\t', header=False, index=False)
    output.seek(0)
    contents = output.getvalue()
    cur.copy_from(output, f'{table_name}', null="") # null values become ''
    conn.commit()
    cur.close()
    conn.close()

In [ ]:
"""
path=r'C:\Users\mislam\Downloads'
file=r'\data.csv'
table_name='table'
import_sql(file_folder,table_name,truncate=True)
"""

### Import query results to csv

In [ ]:
# Define Select statement
def export_csv(folder, file_name, select):
    """
    Specify folder and file name separately
    
    Write custom sql query to retrieve data
    
    """
    conn=engine.raw_connection()
    cur=conn.cursor()
    SQL_for_file_output = f"COPY ({select}) TO STDOUT WITH CSV HEADER"
    with open(f'{folder+file_name}', 'w', encoding="utf-8") as f_output:
        cur.copy_expert(SQL_for_file_output, f_output)
    cur.close()
    conn.close()

In [ ]:
"""
sql_statement='select * from table limit 10'
folder=r'C:\Users\mislam\Downloads'
file=r'\test.csv'
export_csv(folder,file,sql_statement)
"""

### Reading data from sql to dataframe

In [ ]:
df=pd.read_sql("""select * from table prepaid limit 3""", con=engine)